<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>This page belongs to Built In Filters </h1>
       <!--<h1 style="color: chartreuse;"> ....{{data}}</h1>
        <h1>  1)..{{data|lower}}</h1>
        <h2>  2)..{{data|upper}}</h2>
        <h2>  3)..{{data|capfirst}}</h2>
        <h2>  4)..{{data|title}}</h2>
        <h3>  5)..{{data|length}}</h3>
        <h1>  6)..{{data|truncatewords:'4'}}</h1>
        <h1>  7)..{{data|truncatechars:'10'}}</h1>
        <h1>  8)..{{data|slice:'20'}}</h1>-->



        <h3>  1)..{{dt|date }}</h3>
        <h1>I have {{c}} cat{{c|pluralize}}</h1>
        <h1>I have {{c}} mango{{c|pluralize:'es'}}</h1>
        <h1>This {{c}} Marker{{c|pluralize}} {{c|pluralize:'is,are'}} mine</h1>
    </center>   
</body>
</html>